.noticias{ width: 100%;
    display: flex;
    max-width: 1000px;
    gap: 20px;
  }
  .noticias > div{
    padding: 10px;
    width: 50%;
    background-color: #b8b3b0;
    }
   .actividades > div{
    padding: 10px;
    background-color: #b8b3b0;
    }
  